<!doctype html>
<html lang="">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  
  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
  <!-- /toolkit styles -->

  <script src="https://use.typekit.net/zod6cpr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>
  
  {{> sidebar-nav}}
  
  <section class="app-content">
    <header class="app-view-header home-icon">
      <h1 class="app-view-title typcn typcn-home">{{title}}</h1>
      <img class="app-logo" src="/assets/toolkit/images/ClinTrialConnect.png" />
      <section class="app-view-subnav">
      </section>
    </header>
    
    {% body %}
    
    <section class="app-content-container">
      <section class="row media-view-container">
        
        <h3>{{title}} Resources</h3>
        
        <!-- PDF Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-pdf">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box empty">
                  </div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-document-text">PDF</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
          </div>
        </div>

        <!-- Video Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-video">Video</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
          </div>
        </div>

        <!-- Link Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box empty">
                  </div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-link">Link</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
          </div>
        </div>

        <!-- PDF Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-pdf">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-document-text">PDF</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
          </div>
        </div>

        <!-- Video Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box empty">
                  </div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-video">Video</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
          </div>
        </div>

        <!-- Link Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-link">Link</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
          </div>
        </div>

        <!-- PDF Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-pdf">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-document-text">PDF</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
          </div>
        </div>

        <!-- Video Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box empty">
                  </div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-video">Video</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
          </div>
        </div>

        <!-- Link Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-link">Link</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
          </div>
        </div>

        <!-- PDF Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-pdf">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-document-text">PDF</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
          </div>
        </div>

        <!-- Video Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box empty">
                  </div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-video">Video</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
          </div>
        </div>

        <!-- Link Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-link">Link</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
          </div>
        </div>

        <!-- PDF Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-pdf">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-document-text">PDF</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
          </div>
        </div>

        <!-- Video Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box empty">
                  </div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-video">Video</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
          </div>
        </div>

        <!-- Link Template -->
        <div class="col-md-4">
          <div class="light-gray-box media-box media-video">
            <div class="row">
              <div class="col-md-6 media-thumbnail-box">
                <a href="#">
                  <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
                </a>
              </div>
              <div class="col-md-6 media-description-box">
                <span class="media-type pdf typcn typcn-link">Link</span>
                <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
              </div>
            </div>
            <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- toolkit scripts -->
  <script src="/assets/toolkit/scripts/toolkit.js"></script>
  <script src="/assets/toolkit/scripts/bootstrap.min.js"></script>
  <!-- /toolkit scripts -->

</body>
</html>
