<!doctype html>
<html lang="">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
  <!-- /toolkit styles -->

  <script src="https://use.typekit.net/zod6cpr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>
  
  {{> sidebar-nav}}
  
  <section class="app-content">
    <header class="app-view-header home-icon">
      <h1 class="app-view-title typcn typcn-home">{{title}}</h1>
      <img class="app-logo" src="/assets/toolkit/images/ClinTrialConnect.png" />
      <section class="app-view-subnav">
      </section>
    </header>
    
    {% body %}
  </section>

  <!-- toolkit scripts -->
  <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  <!-- /toolkit scripts -->

</body>
</html>
