<!doctype html>
<html lang="">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  
  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
  <!-- /toolkit styles -->

  <script src="https://use.typekit.net/zod6cpr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>
  
  {{> sidebar-nav}}
  
  <section class="app-content">
    <header class="app-view-header home-icon">
      <div class="row">
        <div class="col-md-7">
          <h1 class="app-view-title typcn typcn-{{icon}}">{{title}}</h1>
        </div>
        <div class="col-md-5">
          <div class="header-select-box">
            <form class="form-inline">
              <div class="form-group">
                <label class="label-light-color">Change trial:</label>
                <select class="form-control input-sm">
                  <option>Empire Rx: Arm Replacement</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <section class="app-view-subnav">
      </section>
    </header>
    
    {% body %}
    
    <section class="app-content-container no-marg-cont">
      <div class="light-gray-box">
        <h3>{{resourceTitle}}</h3>
        <h5>Category filters</h5>
        <div class="btn-group">
          <button class="btn btn-primary btn-xs js-filter-item active" data-category="col-md-4">Show all</button>
          <button class="btn btn-primary btn-xs js-filter-item" data-category="test2">How trials work</button>
          <button class="btn btn-primary btn-xs js-filter-item" data-category="test">About disease</button>
          <button class="btn btn-primary btn-xs js-filter-item" data-category="test3">About sponsor</button>
          <button class="btn btn-primary btn-xs js-filter-item" data-category="test4">About drug</button>
          <button class="btn btn-primary btn-xs js-filter-item" data-category="test4">About study</button>
        </div>
      </div>
      <section class="row media-view-container">
        
        {{> pdf-template-widget}}
        
        {{> video-template-widget}}
        
        {{> link-template-widget}}
        
        {{> video-template-widget}}
        
        {{> pdf-template-widget}}
        
        {{> link-template-widget}}

      </section>
    </section>
  </section>

  <!-- toolkit scripts -->
  <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  <script src="{{baseurl}}/assets/toolkit/scripts/bootstrap.min.js"></script>
  <!-- /toolkit scripts -->

</body>
</html>
