<!doctype html>
<html lang="">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  
  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
  <!-- /toolkit styles -->

  <script src="https://use.typekit.net/zod6cpr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body class="dark-bg">
  <section class="app-login-container login-dashboard">
    <div class="container">
      <div class="login-form-box">
        <img src="{{baseurl}}/assets/toolkit/images/ClinTrialConnect.png" />
        <div class="login-form">
          <fieldset>
            <form method="get" action="{{baseurl}}/pages/dashboard-main.html">
              
              <div class="form-group">
                <label class="control-label label-light-color" for="">Email</label>
                <input class="form-control" type="email" placeholder="Enter your email…"/>
              </div>
              
              <div class="form-group">
                <label class="control-label label-light-color" for="">Password</label>
                <input class="form-control" type="text" placeholder="Enter your password…" />
              </div>
              
              <div class="form-group">
                <input class="btn btn-block btn-success" type="submit" value="login" />
              </div>

              <div class="checkbox">
                <label for="checkbox-test">
                  <input  id ="checkbox-test" type="checkbox" /> Remember me
                  <span class="checkbox-box"></span>
                </label>
              </div>
              
            </form>
          </fieldset>
          <div class="row">
            <div class="login-form-link-box">
              <div class="col-md-6">
                <a class="login-form-link typcn-after typcn-chevron-right-after" href="#" data-toggle="modal" data-target="#forgotUsernameModal">Forgot username?</a>
              </div>
              {{> forgot-password-modal }}
              
              <div class="col-md-6">
                <a class="login-form-link typcn-after typcn-chevron-right-after" href="#" data-toggle="modal" data-target="#forgotPasswordModal">Forgot password?</a>
              </div>
              {{> forgot-username-modal }}
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="registration-form-box">
        <div class="registration-form">
          <h4>Need to register?</h4>
          <a class="btn btn-primary btn-block typcn-after typcn-chevron-right-after" href="{{baseurl}}/pages/dashboard-register.html">Register now</a>
        </div>
      </div>
    </div>
  </section>

  <!-- toolkit scripts -->
  <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  <script src="{{baseurl}}/assets/toolkit/scripts/bootstrap.min.js"></script>
  <!-- /toolkit scripts -->

</body>
</html>
