<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>
  
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  
	{{#if fabricator}}<link rel="stylesheet" href="assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
    <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/bootstrap.css">
	<link rel="stylesheet" href="assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->
    
    <script src="https://use.typekit.net/zod6cpr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


	{% body %}


	{{#if fabricator}}
		</div>
	<script src="assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="/assets/toolkit/scripts/toolkit.js"></script>
    <script src="/assets/toolkit/scripts/bootstrap.min.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
