---
title: Overview | Fabricator
fabricator: true
---

<h1>ClinTrial Connect Living Style Guide</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts. TODO: WRITE INTRO</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Color</h2>

<p>TODO: SHOW SASS VARIABLES</p>

{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}