.table {
  thead {
    &.dark {
      background-color: $brand-info;
      color: $brand-light;
      
      th:first-child {
        border-top-left-radius: $border-radius-large;
      }
      
      th:last-child {
        border-top-right-radius: $border-radius-large;
      }
    }
  }
}

.already-shared-table,
.trial-list-table {
  margin-bottom: 0;
  
  tr:last-child {
    
    td {
      
      &:first-child {
        border-bottom-left-radius: $border-radius-large;
      }
      
       &:last-child {
        border-bottom-right-radius: $border-radius-large;
      }
      
    }
  }
}