.app-content {
  margin-left: $side-bar-width;
  margin-bottom: 20px;
  
  .app-view-header {
    width: 100%;
    background: $brand-info;
    
    .app-logo {
      display: inline-block;
      float: right;
      padding: $padding-base-horizontal;
      margin-top: $padding-large-vertical;
    }
    
    .app-view-title {
      padding: $padding-base-horizontal;
      margin: 0;
      color: $brand-light;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 0.1em;
      font-weight: 500;
      display: inline-block;
      
      &.typcn {
        &:before {
          font-size: 1.75em;
        }
      }
    }
  }
  
  .app-content-container {
    margin-top: $padding-large-vertical * 4;
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
    width: 100%;
    
    &.no-marg-cont {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
}