.app-login-container {
  width: 100%;
  
  .login-form-box {
    padding-top: 5%;
    width: 325px;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      width: 100%;
      padding: $padding-xl-horizontal;
    }

    .login-form {
      padding: $padding-large-horizontal;
      background: $brand-info;
      border-radius: $border-radius-large;
      
      .checkbox {
        color: $brand-light;
      }
      
      .login-form-link-box {
        border-top: 1px solid $brand-dark;
        border-radius: $border-radius-large;
        margin-left: $padding-small-horizontal;
        margin-right: $padding-small-horizontal;
      }
      
      .login-form-link {
        font-size: 12px;
        color: $gray-base;
        display: block;
        margin-top: $padding-small-horizontal;
        transition: $default-text-transition;
        
        &:hover {
          text-decoration: none;
          color: darken($gray-base, 20%);
        }
      }
    }
  }
  
  .registration-form-box {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    padding-top: $padding-xl-vertical;
    
    
    .registration-form {
      background: $brand-info;
      border-radius: $border-radius-large;
      padding: $padding-base-horizontal;
      
      h4 {
        margin-top: 0;
        color: $brand-light;
      }
    }
  }
}

