.already-shared-table {
  margin-bottom: 0;
  
  tr:last-child {
    
    td {
      
      &:first-child {
        border-bottom-left-radius: $border-radius-large;
      }
      
       &:last-child {
        border-bottom-right-radius: $border-radius-large;
      }
      
    }
  }
}