.heading-info {
  color: $brand-info;
}

.change-trial-heading {
  text-transform: uppercase;
  font-size: $font-size-h5;
  font-family: $font-family-sans-serif;
  letter-spacing: .05em;
  color: $brand-primary;
  display: block;
  line-height: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}

//.not-interested {
//  display: block;
//  color: $brand-warning;
//  padding-top: $padding-base-vertical;
//}
//
//.interested {
//  display: block;
//  color: $brand-success;
//  padding-top: $padding-base-vertical;
//}