---
layout: dashboard-main
title: 'Dashboard—Empire Rx: Arm Replacement'
---

<section class="app-content-container main-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-6">
      <h1>Good morning, Luke Skywalker!</h1>
      <p>A warm welcome message here about the trial, and the resources that the patient can use for the trial. Here is more writing to fill up the space to get a feel for how much one can write. Lorem ipsum dolor sit amet.</p>
    </div>
    
    {{> trial-details}}
    
  </div>
  <div class="row main-dashboard-nav">
    <div class="col-md-4">
      <a href="{{baseurl}}/pages/dashboard-documents-video.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-lightbulb main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">Documents &amp; videos</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{baseurl}}/pages/dashboard-share.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-mail main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">Share with family</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{baseurl}}/pages/dashboard-share.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-message main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">Research site questions</span>
        </div>
      </a>
    </div>
  </div>
</section>
