---
layout: dashboard-main
title: Trial Education
---

<section class="app-content-container education-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-8">
      <h1>Learn about your trial.</h1>
      <p>A message about how to use this page, why it is important to learn about your trial. Also a message about what kind of information that can be found on this page.</p>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <h5 class="heading-info">Search for information about the trial</h5>
        <form class="form-horizontal form-with-button">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="How do I opt in…"/>
            <input class="btn btn-success" type="submit" value="Search" />
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <section class="row media-view-container">
    <div class="col-md-4">
      <div class="light-gray-box media-box media-pdf">
        <div class="row">
          <div class="col-md-6">
            <p>lorem</p>
          </div>
          <div class="col-md-6">
            <h6>Name of Trial document goes here with an extra few lines</h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="#">Open PDF</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <div class="row">
          <div class="col-md-6">
            <p>lorem</p>
          </div>
          <div class="col-md-6">
            <p>lorem</p>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="#">Open PDF</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <div class="row">
          <div class="col-md-6">
            <p>lorem</p>
          </div>
          <div class="col-md-6">
            <p>lorem</p>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="#">Open PDF</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <div class="row">
          <div class="col-md-6">
            <p>lorem</p>
          </div>
          <div class="col-md-6">
            <p>lorem</p>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="#">Open PDF</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <div class="row">
          <div class="col-md-6">
            <p>lorem</p>
          </div>
          <div class="col-md-6">
            <p>lorem</p>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="#">Open PDF</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <div class="row">
          <div class="col-md-6">
            <p>lorem</p>
          </div>
          <div class="col-md-6">
            <p>lorem</p>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="#">Open PDF</a>
      </div>
    </div>
  </section>

