---
layout: dashboard-document-repository
title: 'Documents & videos'
icon: lightbulb
resourceTitle: 'Trial education resources'
---

<section class="app-content-container education-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-6">
      <h1>Learn about this trial</h1>
      <p>Here is a educational repository that includes all of the documents &amp; videos that you're able to reference and learn about this trial. You're able to learn how trials work overall and about your disease. You're also able to learn about the sponsor of the clinical trial, the pharmaceutical being tested, and the study itself.</p>
    </div>
    
    {{> trial-details}}
  </div>
</section>

<!--IGNORE, FAKING ACTIVE PAGE SELECTION-->
<script>
  $(document).ready(function(){
    $('.sidebar-nav-list a').removeClass('active');
    $('.sidebar-nav-list li:nth-child(2) a').addClass('active');
  });
</script>

