---
layout: dashboard-document-repository
title: 'How Trials Work—Empire Rx: Arm Replacement'
icon: flow-switch
---

<section class="app-content-container main-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-7">
      <h1>How trials work</h1>
      <p>A warm welcome message here about the trial, and the resources that the patient can use for the trial. Here is more writing to fill up the space to get a feel for how much one can write. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-md-5">
      <div class="light-gray-box">
        <h5 class="heading-info">Looks like you have more than one clinical study available! Here’s the trial you are currently viewing:</h5>
        <span class="opt-in-choice typcn typcn-warning">You have <strong>opted out</strong> of this trial</span>
        <span class="change-trial-heading">Empire Rx: Arm Replacement</span>
        <form class="form-horizontal form-with-button">
          <label for="changeTrial">Change Trial:</label>
          <select class="form-control" name="changeTrial">
            <option class="current-trial" checked>Empire Rx: Arm Replacement</option>
            <option>Empire Rx: Lorem ipsum 1</option>
            <option>Empire Rx: Lorem ipsum 2</option>
            <option>Empire Rx: Lorem ipsum 3</option>
            <option>Empire Rx: Lorem ipsum 4</option>
            <option>Empire Rx: Lorem ipsum 5</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</section>

<!--IGNORE, FAKING ACTIVE PAGE SELECTION-->
<script>
  $(document).ready(function(){
    $('.sidebar-nav-list a').removeClass('active');
    $('.sidebar-nav-list li:nth-child(3) a').addClass('active');
  });
</script>
