---
layout: dashboard-main
title: 'Dashboard—Empire Rx: Arm Replacement'
---

<section class="app-content-container main-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-6">
      <h1>Good morning, Luke Skywalker!</h1>
      <p>A warm welcome message here about the trial, and the resources that the patient can use for the trial. Here is more writing to fill up the space to get a feel for how much one can write. Lorem ipsum dolor sit amet.</p>
    </div>
   <div class="col-md-6">
      <div class="white-box">
        <h5 class="heading-info">Looks like you have more than one clinical study available! Here’s the trial you are currently viewing:</h5>
        <div class="row">
          <div class="col-md-6">
            logo
          </div>
          <div class="col-md-6">
            
          <span class="opt-in-choice typcn typcn-warning">You have <strong>opted out</strong> of this trial</span>
          <span class="change-trial-heading">Empire Rx: Arm Replacement</span>
            <form class="form-horizontal form-with-button">
              <label for="changeTrial">Change Trial:</label>
              <select class="form-control" name="changeTrial">
                <option class="current-trial" checked>Empire Rx: Arm Replacement</option>
                <option>Empire Rx: Lorem ipsum 1</option>
                <option>Empire Rx: Lorem ipsum 2</option>
                <option>Empire Rx: Lorem ipsum 3</option>
                <option>Empire Rx: Lorem ipsum 4</option>
                <option>Empire Rx: Lorem ipsum 5</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row main-dashboard-nav">
    <div class="col-md-3">
      <a href="{{baseurl}}/pages/dashboard-about-disease.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-heart main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">About my disease</span>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{baseurl}}/pages/dashboard-trials-work.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-flow-switch main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">How trials work</span>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{baseurl}}/pages/dashboard-education.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-lightbulb main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">Documents and videos</span>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{baseurl}}/pages/dashboard-share.html">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-mail main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">Share with family</span>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main-dashboard-secondary-nav">
    <div class="col-md-8">
      <div class="light-gray-box main-dashboard-questions">
        <h5>Ask your research site…fix</h5>
        <form class="form-horizontal form-with-button">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Placeholder text example…"/>
            <input class="btn btn-success" type="submit" />
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box main-dashboard-company-details">
        <h5 style="text-align: center; font-size: 15px; height: 85px;">PLACEHOLDER FOR IMAGE</h5>
        <a href="#" class="main-dashboard-nav-link-small typcn-after typcn-chevron-right-after">Company &amp; drug details</a>
      </div>
    </div>
  </div>
</section>
