---
layout: dashboard-main
title: Trial Education
---

<section class="app-content-container education-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-8">
      <h1>Learn about your trial.</h1>
      <p>A message about how to use this page, why it is important to learn about your trial. Also a message about what kind of information that can be found on this page.</p>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <h5 class="heading-info">Looks like you are involved in more than one trial! Here’s the trial you are currently viewing:</h5>
        <span class="change-trial-heading">Empire Rx: Arm Replacement</span>
        <form class="form-horizontal form-with-button">
          <label for="changeTrial">Change Trial:</label>
          <select class="form-control" name="changeTrial">
            <option class="current-trial" checked>Empire Rx: Arm Replacement</option>
            <option>Empire Rx: Lorem ipsum 1</option>
            <option>Empire Rx: Lorem ipsum 2</option>
            <option>Empire Rx: Lorem ipsum 3</option>
            <option>Empire Rx: Lorem ipsum 4</option>
            <option>Empire Rx: Lorem ipsum 5</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  
  <section class="row media-view-container">
    
    <!-- PDF Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-pdf">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box empty">
              </div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-document-text">PDF</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
      </div>
    </div>
    
    <!-- Video Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-video">Video</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
      </div>
    </div>
    
    <!-- Link Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box empty">
              </div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-link">Link</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
      </div>
    </div>
    
    <!-- PDF Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-pdf">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-document-text">PDF</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
      </div>
    </div>
    
    <!-- Video Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box empty">
              </div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-video">Video</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
      </div>
    </div>
    
    <!-- Link Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-link">Link</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
      </div>
    </div>
    
    <!-- PDF Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-pdf">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-document-text">PDF</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
      </div>
    </div>
    
    <!-- Video Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box empty">
              </div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-video">Video</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
      </div>
    </div>
    
    <!-- Link Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-link">Link</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
      </div>
    </div>
    
    <!-- PDF Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-pdf">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-document-text">PDF</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
      </div>
    </div>
    
    <!-- Video Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box empty">
              </div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-video">Video</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
      </div>
    </div>
    
    <!-- Link Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-link">Link</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
      </div>
    </div>
    
    <!-- PDF Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-pdf">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-document-text">PDF</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-download" href="#">Open PDF</a>
      </div>
    </div>
    
    <!-- Video Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box empty">
              </div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-video">Video</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-eye" href="#">Watch Video</a>
      </div>
    </div>
    
    <!-- Link Template -->
    <div class="col-md-4">
      <div class="light-gray-box media-box media-video">
        <div class="row">
          <div class="col-md-6 media-thumbnail-box">
            <a href="#">
              <div class="thumbnail-img-box" style="background-image: url(http://placehold.it/156x120)"></div>
            </a>
          </div>
          <div class="col-md-6 media-description-box">
            <span class="media-type pdf typcn typcn-link">Link</span>
            <h6 class="media-title"><a href="#">Name of Trial document goes here with an extra few lines</a></h6>
          </div>
        </div>
        <a class="btn btn-primary btn-block typcn typcn-arrow-forward" href="#">Visit Link</a>
      </div>
    </div>

  </section>

