---
layout: dashboard-main
title: Dashboard
---

<header class="app-view-header home-icon">
  <h1 class="app-view-title typcn typcn-home">{{title}}</h1>
  
  <section class="app-view-subnav">

  </section>
</header>

<section class="app-content-container main-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-8">
      <h1>Good morning, Luke Skywalker!</h1>
      <p>A warm welcome message here about the trial, and the resources that the patient can use for the trial. Here is more writing to fill up the space to get a feel for how much one can write. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box">
        <h5 class="heading-info">Search for information about the trial</h5>
        <form>
          <input type="text" placeholder="How do I opt in…"/>
          <input class="btn btn-success" type="submit" />
        </form>
      </div>
    </div>
  </div>
  
  <div class="row main-dashboard-nav">
    <div class="col-md-4">
      <a href="#">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-heart main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">About my disease</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-flow-switch main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">How trials work</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <div class="dashboard-home-boxes">
          <span class="typcn typcn-clipboard main-dashboard-nav-display-icon"></span>
          <span class="main-dashboard-nav-link typcn-after typcn-chevron-right-after">Trial Education</span>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row main-dashboard-secondary-nav">
    <div class="col-md-8">
      <div class="light-gray-box main-dashboard-questions">
        <h5>Have a question about the trial? Ask it here!</h5>
        <form>
          <input type="text" placeholder="Placeholder text example…"/>
          <input class="btn btn-success" type="submit" />
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="light-gray-box main-dashboard-company-details">
        <h5>PLACEHOLDER FOR IMAGE</h5>
        <a href="#" class="main-dashboard-nav-link-small typcn-after typcn-chevron-right-after">Trial Education</a>
      </div>
    </div>
  </div>
</section>
