---
layout: dashboard-share
title: Share
icon: mail
---

<section class="app-content-container share-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-6">
      <h1>Share resources with friends and family</h1>
      <p>You have the ability to share all of the content within this tool to friends, family, loved ones, well really anyone you want to know about this particular clinical trial. It’s important for others to know what is going on and encourage you to share it. Simply enter their name and email. They will recieve access to the same educational resources you have.</p>
    </div>
   {{> trial-details}}
  </div>
  
  <section class="dashboard-share-form">
    <div class="dashboard-share-box">
      <h3 class="text-white">Share content</h3>
      <form method="" action="">
        <label class="label-white-color">Email you wish to share with</label>
        <div class="row">
          <div class="col-md-9">
            <input class="form-control input-lg" type="email" placeholder="Enter email…" />
          </div>
          <div class="col-md-3">
            <input class="btn btn-success btn-lg btn-block typcn typcn-mail" type="submt" value="share" />
          </div>
        </div>
        
      </form>
    </div>
  </section>
  
  <section class="dashboard-already-shared">
    
    <h3>People you’ve shared with already</h3>
    
    <div class="dashboard-already-shared-box table-white-box">
      <table class="table table-striped table-responsive already-shared-table">
        <thead class="dark">
          <th class="email">Email</th>
          <th class="edit-row"></th>
        </thead>
        <tbody>
          <tr class="already-shared-row">
            <td class="email">leiaorgana@rebelbase.com</td>
            <td class="edit-row">
              <button class="btn btn-success btn-xs">Resend</button>
              <button class="btn btn-danger btn-xs btn-icon typcn typcn-times"></button>
            </td>
          </tr>
          <tr class="already-shared-row">
            <td class="email">leiaorgana@rebelbase.com</td>
            <td class="edit-row">
              <button class="btn btn-success btn-xs">Resend</button>
              <button class="btn btn-danger btn-xs btn-icon typcn typcn-times"></button>
            </td>
          </tr>
          <tr class="already-shared-row">
            <td class="email">leiaorgana@rebelbase.com</td>
            <td class="edit-row">
              <button class="btn btn-success btn-xs">Resend</button>
              <button class="btn btn-danger btn-xs btn-icon typcn typcn-times"></button>
            </td>
          </tr>
          <tr class="already-shared-row">
            <td class="email">leiaorgana@rebelbase.com</td>
            <td class="edit-row">
              <button class="btn btn-success btn-xs">Resend</button>
              <button class="btn btn-danger btn-xs btn-icon typcn typcn-times"></button>
            </td>
          </tr>
          <tr class="already-shared-row">
            <td class="email">leiaorgana@rebelbase.com</td>
            <td class="edit-row">
              <button class="btn btn-success btn-xs">Resend</button>
              <button class="btn btn-danger btn-xs btn-icon typcn typcn-times"></button>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </section>

</section>

<!--IGNORE, FAKING ACTIVE PAGE SELECTION-->
<script>
  $(document).ready(function(){
    $('.sidebar-nav-list a').removeClass('active');
    $('.sidebar-nav-list li:nth-child(3) a').addClass('active');
  });
</script>
