---
layout: dashboard-document-repository
title: 'Trial Education—Empire Rx: Arm Replacement'
icon: lightbulb
resourceTitle: 'Trial Education Resources'
---

<section class="app-content-container education-dashboard">
  <div class="row main-dashboard-intro">
    <div class="col-md-6">
      <h1>Learn about your trial.</h1>
      <p>A message about how to use this page, why it is important to learn about your trial. Also a message about what kind of information that can be found on this page.</p>
    </div>
    <div class="col-md-6">
      <div class="white-box">
        <h5 class="heading-info">Looks like you have more than one clinical study available! Here’s the trial you are currently viewing:</h5>
        <div class="row">
          <div class="col-md-6">
            logo
          </div>
          <div class="col-md-6">
            
          <span class="opt-in-choice typcn typcn-warning">You aren't <strong>interested</strong> in this trial</span>
          <span class="change-trial-heading">Empire Rx: Arm Replacement</span>
            <form class="form-horizontal form-with-button">
              <label for="changeTrial">Change Trial:</label>
              <select class="form-control" name="changeTrial">
                <option class="current-trial" checked>Empire Rx: Arm Replacement</option>
                <option>Empire Rx: Lorem ipsum 1</option>
                <option>Empire Rx: Lorem ipsum 2</option>
                <option>Empire Rx: Lorem ipsum 3</option>
                <option>Empire Rx: Lorem ipsum 4</option>
                <option>Empire Rx: Lorem ipsum 5</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--IGNORE, FAKING ACTIVE PAGE SELECTION-->
<script>
  $(document).ready(function(){
    $('.sidebar-nav-list a').removeClass('active');
    $('.sidebar-nav-list li:nth-child(4) a').addClass('active');
  });
</script>

